/* .bootao a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  padding-top: 10px;
} */
.botaoinicial a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 15px;
  padding-top: 10px;
  font-weight: bold;
}

.botaoinicial {
  background: #0f4c81;
  color: #fff;
  border-radius: 5px;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: none;
  margin-right: 100px;
  width: 200px;
}

.bootao {
  margin-right: 100px;
  min-height: 5vh;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.porporlado {
  width: 100%;
}

#h1 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: left;
  padding-left: 100px;
  padding-top: 0;
}

.inicio {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: right;
  padding-top: 45px;
}

.inicio .bootao img {
  width: 20px;
  padding-right: 10px;
}

.inicio .botaoinicial img {
  width: 20px;
  padding-right: 10px;
  margin-top: 8px;
}
